<div class="chat-message">
    <div class="left-content">
        <img class="avatar" aria-hidden="true" src="" alt="" />
        <time class="timestamp static" datetime=""></time>
    </div>
    <div class="main-content">
        <div class="meta">
            <span class="author"></span>
            <time class="timestamp relative" datetime=""></time>
        </div>
        <div class="message"></div>
    </div>
    <div class="right-content">
        <div class="buttons">
            <a class="button pin" role="button" title="Pin as MOTD"></a>
            <a class="button edit" role="button" title="Edit message"></a>
            <a class="button delete" role="button" title="Delete message"></a>
            <a class="button report" role="button" title="Report message"></a>
        </div>
    </div>
</div>