<div class="chat-message">
    <div class="left-content"><img class="avatar" aria-hidden="true" src="" alt="" /></div>
    <div class="main-content">
        <div class="meta">
            <span class="author"></span>
            <time class="timestamp relative" datetime=""></time>
        </div>
        <div class="message"></div>
    </div>
    <div class="right-content">
        <div class="buttons" role="group" aria-label="Message Actions">
            <span class="button" role="button">A</span>
            <span class="button" role="button">B</span>
            <span class="button" role="button">C</span>
            <span class="button" role="button">D</span>
        </div>
    </div>
</div>
</div>