<div class="chat-message">
    <div class="left-content">
        <img class="avatar" aria-hidden="true" src="" alt="" />
        <time class="timestamp static" datetime=""></time>
    </div>
    <div class="main-content">
        <div class="meta">
            <span class="author"></span>
            <time class="timestamp relative" datetime=""></time>
        </div>
        <div class="message"></div>
    </div>
    <div class="right-content">
        <div class="buttons">
            <a class="button report" role="button">Report</a>
        </div>
    </div>
</div>