{% if client.can_read_post(post) %}
<div class="message">
    <div class="message-cell message-cell--author">
        {% if let Some(avatar_html) = crate::post::get_avatar_html_for_post(post, crate::attachment::AttachmentSize::L) %}{{ avatar_html|safe }}{% endif %}
        <div class="username">{% match post.username %}{% when Some with (username) %}{{ username }}{% when None %}Guest{% endmatch %}</div>
    </div>
    <div class="message-cell message-cell--main">
        {% if post.deleted_at.is_none() %}
        <div class="message-header">
            <div class="message-header--left">
                <time datetime="{{ post.created_at }}">{{ post.created_at.format("%v %r") }}</time>
                {% if post.created_at != post.updated_at %}updated  at <time datetime="{{ post.updated_at }}">{{ post.updated_at.format("%v %r") }}</time>{% endif %}
            </div>
            <div class="message-header--right">
                <a href="/threads/{{ post.thread_id }}/post-{{ post.id }}" title="Permanent link">#{{ post.position }}</a>
            </div>
        </div>

        {% match post.content %}{% when Some with (content) %}
        <div class="message-content">
            {% include "ugc/ugc.html" %}
        </div>
        {% when None %}{% endmatch %}

        {% match post_attachments %}{% when Some with (post_attachments) %}
        <div class="message-attachments">
            {% for attachment in post_attachments %}
            <div class="attachment">📎 <a href="{{ attachment.get_download_url() }}">{{ attachment.ugc_filename }}</a></div>
            {% endfor %}
        </div>
        {% when None %}{% endmatch %}

        {% if client.is_user() %}
        <div class="message-footer">
            <div class="message-footer--left">
                {# Mod Checkbox, Report, Delete, IP, Warn #}
                {% if client.can_update_post(post) %}<a href="/posts/{{ post.id }}/edit">Edit</a>{% endif %}
                {% if client.can_update_post(post) %}<a href="/posts/{{ post.id }}/delete">Delete</a>{% endif %}
            </div>
            <div class="message-footer--right">
                {# Like, Quote, Reply #}
            </div>
        </div>
        {% endif %}
        {% else %}
        <div class="message-holder">
            This message was deleted.
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
