<div class="message">
    <div class="message-cell message-cell--author">
        <div class="username">Guest</div>
    </div>
    <div class="message-cell message-cell--main">
        <div class="message-header">
            {{ post.created_at }}
        </div>
        <div class="message-content">
            {% match post.content %}{% when Some with (content) %}
                <div>{{ content }}</div>
            {% when None %}{% endmatch %}
        </div>
        <div class="message-footer">
            <!-- Stickers Here -->
        </div>
    </div>
</div>
