<div class="message">
    <div class="message-cell message-cell--author">
        <div class="username">Guest</div>
    </div>
    <div class="message-cell message-cell--main">
        <div class="message-header">
            <div class="message-header--left">
                <time datetime="{{ post.created_at }}">{{ post.created_at.format("%v %r") }}</time>
                {% if post.created_at != post.updated_at %}updated  at <time datetime="{{ post.updated_at }}">{{ post.updated_at.format("%v %r") }}</time>{% endif %}
            </div>
            <div class="message-header--right">
                <a href="/threads/{{ post.thread_id }}/post-{{ post.id }}" title="Permanent link">#{{ post.position }}</a>
            </div>
        </div>
        <div class="message-content">
            {% match post.content %}{% when Some with (content) %}
                <div>{{ content }}</div>
            {% when None %}{% endmatch %}
        </div>
        <div class="message-footer">
            <div class="message-footer--left">
                {# Mod Checkbox, Report, Delete, IP, Warn #}
                <a href="/posts/{{ post.id }}/edit">Edit</a>
            </div>
            <div class="message-footer--right">
                {# Like, Quote, Reply #}
            </div>
        </div>
    </div>
</div>
