html.chat,
html.chat body,
#chat {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#chat {
    background: rgb(54, 57, 63);
    display: flex;
    flex-direction: column;
}

#chat-scroller {
    overflow-x: hidden;
    overflow-y: scroll;
    flex: 1;

    &::-webkit-scrollbar {
        width: 16px;
        height: 16px;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-auto-thumb);
        min-height: 40px;
    }

    &::-webkit-scrollbar-track {
        margin-bottom: 8px;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        border: 4px solid transparent;
        background-clip: padding-box;
        border-radius: 8px;
    }
}

#chat-messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: relative;
    height: auto;
    min-height: 100%;
    width: 100%;
    overflow-y: visible;
    overflow-x: hidden;
    padding: 15px 0;

    color: rgb(255, 255, 255);
}

.chat-message {
    position: relative;
    padding-left: 72px;
    padding-right: 48px;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;

    // Left-hand content
    .left-content {
        position: absolute;
        left: 16px;
    }

    .avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    // Meta
    .meta {
        display: block;
        line-height: 1.375rem;
        min-height: 1.375rem;
    }

    .author {
        font-weight: bold;
        margin-right: 0.25rem;
    }

    .timestamp {
        display: inline-block;
        height: 1.25rem;
        font-size: 0.75rem;
        margin-left: 0.25rem;
        vertical-align: baseline;
    }

    // Right-hand buttons
    .right-content {
        position: absolute;
        right: 0;
        z-index: 1;
        top: -25px;
        padding: 0 14px 0 32px;
    }

}

.chat-message--hasParent {

    .left-content,
    .meta {
        display: none;
    }
}

#chat-form {
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: -8px;
}

#chat-input {
    overflow: hidden;
    box-sizing: content-box;
    height: 0px;
    min-height: 1.375rem;
    width: 100%;
    margin: 0 0 24px 0;
    padding: 11px;
    resize: none;

    border: none;
    background: rgb(64, 68, 75);
    border-radius: 1rem;
    outline: 0;

    color: rgb(255, 255, 255);
    font-size: 1rem;
    line-height: 1.375rem;
    user-select: text;
    font-weight: 400;

    overflow-wrap: break-word;
    text-align: left;
    word-break: break-word;
    white-space: break-spaces;
}