html.chat,
html.chat body,
html.chat #chat {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#chat {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: var(--background-color);
    color: var(--text-color);
}

#chat-rooms {
    box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
    padding: 11px;
}

.chat-room {
    color: var(--text-color);
    text-decoration: none;
    border: var(--border-color);
    border-radius: 3px;
    padding: 6px;
    cursor: pointer;

    &.active {
        background: var(--border-color);
        text-decoration: underline;
    }

    &:hover {
        background: var(--border-color);
        text-decoration: underline;
    }
}

.chat-content {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    flex-grow: 1;
}

.chat-scroller {
    overflow-x: hidden;
    overflow-y: scroll;
    flex: 1;

    &::-webkit-scrollbar {
        width: 16px;
        height: 16px;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb);
        min-height: 40px;
    }

    &::-webkit-scrollbar-track {
        margin-bottom: 8px;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        border: 4px solid transparent;
        background-clip: padding-box;
        border-radius: 8px;
    }

    &.ScrollAnchored::before {
        content: 'Anchored ⚓';
        display: block;
        border: 2px solid white;
        background: black;
        position: absolute;
        top: 0;
        right: 0;
        width: auto;
        height: auto;
        padding: 0.2rem;
        pointer-events: none;
        ;
    }
}

#chat-messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: relative;
    height: auto;
    min-height: 100%;
    width: 100%;
    overflow-y: visible;
    overflow-x: hidden;
    padding: 15px 0;
}

.chat-message {
    position: relative;
    padding-left: 64px;
    padding-right: 48px;
    margin-top: 1.0625rem;

    // Left-hand content
    //.left-content {}

    .avatar {
        position: absolute;
        left: 16px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    // Meta
    .meta {
        display: block;
        line-height: 1.375rem;
        min-height: 1.375rem;

        margin-left: 2px;
        padding-left: 0.25rem;
    }

    .author {
        font-weight: bold;
        margin-right: 0.25rem;
        user-select: none;

        #chat-messages>& {
            cursor: pointer;
            cursor: copy;
            cursor: alias;
        }
    }


    .timestamp {
        height: 1.25rem;
        font-size: 0.75rem;
        margin-left: 0.25rem;
        vertical-align: baseline;
        color: var(--text-muted);

        &.static {
            position: absolute;
            left: 0;
            display: none;
            height: 1.375rem;
            width: 56px;
            line-height: 1.375rem;
            text-align: center;
        }
    }

    // Message Line
    .message {
        border-left: 2px solid transparent;
        padding-left: 0.25rem;
        overflow: hidden;

        .tagUrl {
            color: #00aef3;
            color: hsl(197, calc(var(1, 1) * 100%), 47.8%);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        img {
            height: auto;
            width: auto;
            max-height: 250px;
            max-width: 250px;
        }
    }

    // Edit message form
    .chat-form {
        padding-top: 8px;
    }

    // Right-hand buttons
    .right-content {
        display: none;
        position: absolute;
        right: 0;
        z-index: 1;
        top: -25px;
        padding: 0 14px 0 32px;
    }

    .buttons {
        display: grid;
        grid-auto-flow: column;
        box-sizing: border-box;
        height: 32px;
        border-radius: 4px;
        align-items: center;
        box-align: center;
        box-pack: s tart;
        justify-content: flex-start;
        user-select: none;
        position: relative;
        overflow: hidden;
        background-color: rgb(54, 57, 63);
        box-shadow: 0 0 0 1px rgba(4, 4, 5, 0.15);
    }

    .button {
        display: flex;
        box-sizing: content-box;
        align-items: center;
        justify-content: center;
        height: 24px;
        padding: 4px;
        min-width: 24px;
        flex: 0 0 auto;
        //color: rgb(185 187 190);
        position: relative;
        border-radius: 0;
    }

    .button svg {
        width: 20px;
        height: 20px;
        display: block;
        object-fit: contain;
    }

    .button path {
        fill: rgb(185 187 190);
    }

    &[id]:not(.chat-message--editing):hover .right-content {
        display: block;
    }
}

.chat-message--systemMsg {
    font-family: monospace;
    color: var(--text-muted);
}

.chat-message--hasParent {
    margin-top: 0;

    .avatar,
    .meta {
        display: none;
    }

    &:hover .timestamp.static {
        display: block;
    }
}

.chat-message--isIgnored {
    &::before {
        content: "Blocked message.";
        font-size: .9rem;
    }

    &+.chat-message--isIgnored {
        display: none;
    }

    .left-content,
    .main-content,
    .right-content {
        display: none;
    }
}

// Message highlighting
.message {

    // Order is important. Later covers earlier.
    #chat-messages>.chat-message--highlightYou & {
        border-left-color: rgba(255, 26, 26, .5);
        background-color: rgba(255, 26, 26, .1);
    }

    #chat-messages>.chat-message--highlightUser & {
        border-left-color: rgba(255, 26, 255, 0.5);
        background-color: rgba(255, 26, 255, 0.1);
    }

    #chat-messages>.chat-message--highlightAuthor & {
        border-left-color: rgba(26, 255, 26, 0.5);
        background-color: rgba(26, 255, 26, 0.1);
    }

    #chat-messages>.chat-message--highlight &,
    #chat-messages>.chat-message:hover & {
        border-left-color: rgba(250, 166, 26, 0.5);
        background-color: rgba(250, 166, 26, 0.1);
    }
}

#chat-activity-scroller {
    flex-grow: 0;
    position: relative;
    min-width: 240px;
    max-height: 100%;

    @media (max-height: 100px) {
        display: none;
    }

    @media (max-width: 960px) {
        display: none;
    }
}

//#chat-activity {}

.activity {
    position: relative;
    max-width: 224px;
    margin-left: 8px;

    display: flex;
    align-items: center;
    border-radius: 4px;
    height: 42px;
    padding: 0 8px;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: 32px;
    height: 32px;
    margin-right: 12px;
    position: relative;
    border-radius: 50%;
    float: left;
}

.user {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
    flex: 1 1 auto;

    &:first-child {
        margin-left: 44px;
    }
}

.chat-form {
    overflow: hidden;
    flex-shrink: 0;
    padding-left: 16px;
    padding-right: 16px;

}

.chat-fields {
    display: flex;
    border-radius: 3px;
    background: var(--input-background);
    color: rgb(255, 255, 255);
    margin: 0 0 24px 0;
}

.chat-input {
    overflow: hidden;
    box-sizing: content-box;
    height: 0px;
    min-height: 1.375rem;
    width: 100%;
    margin: 0;
    padding: 11px;
    resize: none;


    border: none;
    background: transparent;
    outline: 0;

    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.375rem;
    user-select: text;
    font-weight: 400;

    overflow-wrap: break-word;
    text-align: left;
    word-break: break-word;
    white-space: break-spaces;
}

.chat-form-buttons {
    flex-shrink: 1;
    width: auto;

    button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        background: none;
        border: none;
        border-radius: 3px;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        padding: 2px 16px;
        user-select: none;
        height: 44px;
        cursor: pointer;
    }

    .sprite svg {
        fill: var(--text-color);
        height: 20px !important;
        width: 20px !important;
    }
}

// chat shim compat
@media (max-height: 100px) {

    #chat-rooms,
    .chat-form {
        display: none;
    }
}