html.chat,
html.chat body,
#chat {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#chat {
    background: rgb(54, 57, 63);
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);

    a {
        color: rgb(255, 255, 255);
        text-decoration: none;

        &:active,
        &:hover {
            text-decoration: underline;
        }
    }
}

#chat-rooms {
    box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
    padding: 11px;
}

.chat-room {
    border: 1px solid rgb(64, 68, 75);
    border-radius: 3px;
    padding: 6px;
    cursor: pointer;

    &.active {
        background: rgb(64, 68, 75);
    }

    &:hover {
        background: rgb(64, 68, 75);
    }
}

#chat-scroller {
    overflow-x: hidden;
    overflow-y: scroll;
    flex: 1;

    &::-webkit-scrollbar {
        width: 16px;
        height: 16px;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-auto-thumb);
        min-height: 40px;
    }

    &::-webkit-scrollbar-track {
        margin-bottom: 8px;
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
        border: 4px solid transparent;
        background-clip: padding-box;
        border-radius: 8px;
    }
}

#chat-messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    position: relative;
    height: auto;
    min-height: 100%;
    width: 100%;
    overflow-y: visible;
    overflow-x: hidden;
    padding: 15px 0;
}

.chat-message {
    position: relative;
    padding-left: 64px;
    padding-right: 48px;
    margin-top: 1.0625rem;
    overflow: hidden;

    // Left-hand content
    //.left-content {}

    .avatar {
        position: absolute;
        left: 16px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    // Meta
    .meta {
        display: block;
        line-height: 1.375rem;
        min-height: 1.375rem;

        margin-left: 2px;
        padding-left: 0.25rem;
    }

    .author {
        font-weight: bold;
        margin-right: 0.25rem;
        cursor: pointer;
        cursor: copy;
        cursor: alias;
        user-select: none;
    }

    .timestamp {
        height: 1.25rem;
        font-size: 0.75rem;
        margin-left: 0.25rem;
        vertical-align: baseline;

        &.static {
            position: absolute;
            left: 0;
            display: none;
            height: 1.375rem;
            width: 56px;
            line-height: 1.375rem;
            text-align: center;
        }
    }

    // Message Line
    .message {
        border-left: 2px solid transparent;
        padding-left: 0.25rem;
    }

    // Right-hand buttons
    .right-content {
        display: none;
        position: absolute;
        right: 0;
        z-index: 1;
        top: -25px;
        padding: 0 14px 0 32px;
    }

    .buttons {
        display: grid;
        grid-auto-flow: column;
        box-sizing: border-box;
        height: 32px;
        border-radius: 4px;
        align-items: center;
        box-align: center;
        box-pack: s tart;
        justify-content: flex-start;
        user-select: none;
        position: relative;
        overflow: hidden;
        background-color: rgb(54, 57, 63);
        box-shadow: 0 0 0 1px rgba(4, 4, 5, 0.15);
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        padding: 4px;
        min-width: 24px;
        flex: 0 0 auto;
        color: rgb(185 187 190);
        cursor: pointer;
        position: relative;
    }

    &[id]:hover .right-content {
        display: block;
    }
}

.chat-message--systemMsg {
    font-family: monospace;
    color: #ccc;
}

.chat-message--hasParent {
    margin-top: 0;

    .avatar,
    .meta {
        display: none;
    }

    &:hover .timestamp.static {
        display: block;
    }
}

.chat-message--isIgnored {
    &::before {
        content: "Blocked message.";
        font-size: .9rem;
    }

    &+.chat-message--isIgnored {
        display: none;
    }

    .left-content,
    .main-content,
    .right-content {
        display: none;
    }
}

// Message highlighting
.message {

    // Order is important. Later covers earlier.
    .chat-message--highlightYou & {
        border-left-color: rgba(255, 26, 26, .5);
        background-color: rgba(255, 26, 26, .1);
    }

    .chat-message--highlightUser & {
        border-left-color: rgba(255, 26, 255, 0.5);
        background-color: rgba(255, 26, 255, 0.1);
    }

    .chat-message--highlightAuthor & {
        border-left-color: rgba(26, 255, 26, 0.5);
        background-color: rgba(26, 255, 26, 0.1);
    }

    .chat-message--highlight &,
    .chat-message:hover & {
        border-left-color: rgba(250, 166, 26, 0.5);
        background-color: rgba(250, 166, 26, 0.1);
    }
}

#chat-form {
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    padding-left: 16px;
    padding-right: 16px;
    //margin-top: -8px;
}

#chat-input {
    overflow: hidden;
    box-sizing: content-box;
    height: 0px;
    min-height: 1.375rem;
    width: 100%;
    margin: 0 0 24px 0;
    padding: 11px;
    resize: none;

    border: none;
    background: rgb(64, 68, 75);
    border-radius: 3px;
    outline: 0;

    color: rgb(255, 255, 255);
    font-size: 1rem;
    line-height: 1.375rem;
    user-select: text;
    font-weight: 400;

    overflow-wrap: break-word;
    text-align: left;
    word-break: break-word;
    white-space: break-spaces;
}

// chat shim compat
@media (max-height: 100px) {

    #chat-rooms,
    #chat-form {
        display: none;
    }
}