* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font: 1rem / 1.4 sans-serif;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--text-color);
}

main {
    flex: 1;
    margin-top: 16px;
}

header {
    padding-bottom: 0;
}

footer {
    margin-top: 16px;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 0 auto;
    width: 80%;
    padding: 0 16px;
}

.footer-inner {
    font-size: 0.8rem;
    text-align: center;
}