@import 'variables';

.subtitle {
    font-weight: normal;
}

.thread {
    .message {
        border: 1px solid $border-color;
        display: flex;
        flex-direction: row;
        margin: 1rem 0;
    }
}

// Messages that replace the post.
.message-holder {
    padding: $padding;
}

.message-cell {}

.message-cell--author {
    border-right: 1px solid $border-color;
    padding: $padding;
    width: 144px;

    .avatar {
        height: auto;
        width: auto;
        max-width: 128px;
        max-height: 256px;
    }
}

.message-cell--main {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.message-header {
    padding: $padding $padding 0 $padding;
    font-size: 0.8rem;

    &::after {
        display: block;
        content: " ";
        clear: both;
    }
}

.message-header--left {
    float: left;
}

.message-header--right {
    float: right;
}

.message-content {
    flex: 1;
    padding: $padding;
}

.message-attachments {
    display: flex;
    padding: $padding;
    gap: 0.4em;
    flex-direction: row;
    flex-wrap: wrap;

    .attachment {
        flex: 1;

        padding: 0.2em;

        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 2px;

        min-width: 384px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.message-footer {
    display: flex;
    border-top: 1px solid $border-color;
    font-size: 0.8rem;
    padding: $padding;
}

.message-footer--left,
.message-footer--right {
    flex: 1;
}

.message-footer--right {
    text-align: right;
}

.ugc {
    img {
        height: auto;
        width: auto;
        max-height: 80vh;
        max-width: 100%;
    }
}