@use 'variables';

:root {
    --background-color: rgb(242, 243, 245);
    --background-mod-hover: rgba(79, 84, 92, 0.4);
    --background-mod-active: rgba(79, 84, 92, 0.48);
    --background-mod-selected: rgba(79, 84, 92, 0.6);

    --border-color: rgb(116, 128, 0.24);
    --input-background: rgb(235 237 239);
    --text-color: rgb(46, 51, 56);
    --text-muted: rgb(94, 103, 114);

    --modal-background: rgb(54 57 63);
    --modal-footer-background: rgb(47, 49, 54);

    --button-text-color: rgb(255, 255, 255);
    --button-danger-background: rgb(216, 60, 62);
    --button-danger-background-active: rgb(209, 58, 60);
    --button-danger-background-hover: rgb(161, 45, 47);

    --scrollbar-thumb: rgb(204, 204, 204);
}

body.style-dark {
    --background-color: rgb(54, 57, 63);
    --border-color: rgba(79, 84, 92, 0.48);
    --input-background: rgb(64, 68, 75);
    --text-color: rgb(220, 221, 222);
    --text-muted: rgb(163, 166, 170);
    --scrollbar-thumb: rgb(32, 34, 37);
}