<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}るふろ{% endblock %}</title>

    <script type="module">
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
    </script>

    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/style.css" />
    {# <link rel="stylesheet" type="text/css" href="/assets/css/print.css" media="print" /> #}
    {% endblock %}

    {# These are very important for SEO.
    <meta name="description" content="Page description" />
    <meta property="og:title" content="Unique page title - My Site" />
    <meta property="og:description" content="Page description" />
    <meta property="og:image" content="https://www.mywebsite.com/image.jpg" />
    <meta property="og:image:alt" content="Image description" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="https://www.mywebsite.com/page" />
    <link rel="canonical" href="https://www.mywebsite.com/page" />
    #}

    {# More advanced templating options that will come later.
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/my.webmanifest" />
    #}
    <meta name="theme-color" content="#B7410E" />
    {% endblock %}
</head>
<body>
    <header>
        <div class="container header-inner">
        {% block header %}
            <h1>ruforo</h1>
        {% endblock %}
        {% block navigation %}
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/forums">Forums</a></li>
                    <li><a href="/create_user">Signup</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/status">Status</a></li>
                  </ul>
            </nav>
        {% endblock %}
        </div>
    </header>
    <main class="container">
        {% block content %}
        {{ content }}
        {% endblock %}
    </main>
    <footer class="container">
        <div class="footer-inner">
            {% block footer %}
            🐍 Live Free or Die
            {% endblock %}
        </div>
    </footer>

    {% block lazyjs %}
    <!-- <script src="/assets/js/xy-polyfill.js" nomodule></script> -->
    <!-- <script src="/assets/js/script.js" type="module"></script> -->
    {% endblock %}
</body>
</html>
