#primary-nav {
    background-color: #333;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    li {
        float: left;
    }
    a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    &::after {
        display: table;
        content: " ";
        clear: both;
    }
}

.nav-main {
    float: left;
}
.nav-side {
    float: right;
}
