<template id="tmp-chat-message">
    {% include "ugc/chat_message.html" %}
</template>

<template id="tmp-chat-modal-delete">
    <div class="modal-outer" aria-hidden="true">
        <div class="modal-overlay" tabindex="-1" data-micromodal-close>
            <div class="modal-dialog" role="dialog" aria-modal="true" aria-labelledby="modal-title">
                <div class="modal-header">
                    <h2 id="modal-title">Delete Message</h2>
                </div>
                <div class="modal-content">
                    <p class="modal-desc">Are you sure you want to delete this message?</p>
                    <div class="modal-message"></div>
                </div>
                <div class="modal-actions">
                    <button type="submit" class="button delete">Delete</button>
                    <button type="button" class="button cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</template>