<!DOCTYPE html>
<html class="chat">

<head>
    <title>Rust Chat</title>

    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'nonce-{{ nonce }}'" />

    <link rel="stylesheet" type="text/css" nonce="{{ nonce }}" href="/assets/style.css?{{ webpack_time }}" />

    <script type="application/javascript" nonce="{{ nonce }}">
        const APP = {{ app_json| safe }};
    </script>
</head>

<body>
    <div id="chat">
        {% if rooms.len() > 0 %}
        <div id="chat-rooms">
            {% for room in rooms %}
            <a class="chat-room" role="button" href="#{{ room.room_id }}"
                data-id="{{ room.room_id }}">{{room.title}}</a>
            {% endfor %}
        </div>
        {% endif %}
        <div id="chat-scroller">
            <div id="chat-messages"></div>
        </div>
        <form id="chat-form">
            <input id="chat-input-room" type="hidden" name="room" value="0" />
            <textarea id="chat-input" name="message" aria-label="Message the room" aria-multiline="true"></textarea>
        </form>
    </div>

    <template id="tmp-chat-message">
        {% include "ugc/chat_message.html" %}
    </template>

    <script type="application/javascript" src="/assets/chat.js?{{ webpack_time }}" nonce="{{ nonce }}"></script>
</body>

</html>