<!DOCTYPE html>
<html class="chat">

<head>
    <title>Rust Chat</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
    <div id="chat">
        <div id="chat-scroller">
            <div id="chat-messages">

            </div>
        </div>
        <div id="chat-form">
            <textarea id="chat-input"></textarea>
        </div>
    </div>

    <template id="tmp-chat-message">
        {% include "ugc/chat.html" %}
    </template>

    <script src="/assets/chat.js" type="module"></script>
</body>

</html>