<!DOCTYPE html>
<html class="chat">

<head>
    <title>Rust Chat</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
    <div id="chat">
        {% if rooms.len() > 0 %}
        <div id="chat-rooms">
            {% for room in rooms %}
            <a class="chat-room" role="button" href="#{{ room.room_id }}"
                data-id="{{ room.room_id }}">{{room.title}}</a>
            {% endfor %}
        </div>
        {% endif %}
        <div id="chat-scroller">
            <div id="chat-messages">

            </div>
        </div>
        <form id="chat-form">
            <input id="chat-input-room" type="hidden" name="room" value="0" />
            <textarea id="chat-input" name="message"></textarea>
        </form>
    </div>

    <template id="tmp-chat-message">
        {% include "ugc/chat.html" %}
    </template>

    <script src="/assets/chat.js" type="module"></script>
</body>

</html>