{% extends "container/main.html" %}

{% block content %}
<h2>Threads</h2>
<div>
    {% for thread in threads %}
        <div>
            <a href="/threads/{{ thread.id }}/">{{ thread.title }}<a>
        </div>
    {% endfor %}
</div>

<form action="/forums/post-thread" method="post">
    <h2>New Thread</h2>
    <input type="text" name="title" placeholder="Title" />
    <input type="text" name="subtitle" placeholder="Subtitle (optional)" />
    <textarea name="content" rows="8" cols="80"></textarea>
    <button>Sneed</button>
</form>
{% endblock %}
