{% extends "container/public.html" %}

{% block content %}
<div class="struct-container">
    {% if forums.len() > 0 %}
    {% for forum in forums %}
    <div class="struct-item struct-item--forum" data-id="{{ forum.id }}">
        <div class="struct-item-cell struct-item-cell--icon struct-item-cell--iconStart"></div>
        <div class="struct-item-cell struct-item-cell--main">
            <a href="/forums/{{ forum.id }}/">{{ forum.label }}</a><br />
            {% if let Some(description) = forum.description %}{{ description }}<br />{% endif %}
        </div>
        {#
        <div class="struct-item-cell struct-item-cell--meta">
            <dl>
                <dt>Replies:</dt>
                <dd>{{ thread.post_count }}</dd>
            </dl>
            <dl>
                <dt>Views:</dt>
                <dd>{{ thread.view_count }}</dd>
            </dl>
        </div>
        #}
        <div class="struct-item-cell struct-item-cell--latest"></div>
        <div class="struct-item-cell struct-item-cell--icon struct-item-cell--iconEnd"></div>
    </div>
    {% endfor %}
    {% else %}
    No forums available.
    {% endif %}
</div>
{% endblock %}