{% extends "container/main.html" %}

{% block content %}
<h2>Threads</h2>
<div>
    {% for thread in threads %}
        <div>
            <a href="/threads/{{ thread.id }}/">{{ thread.title }}<a>
        </div>
    {% endfor %}
</div>

<form action="/forums/post-thread" method="post">
    <h2>New Thread</h2>
    <div><label>Title: <input type="text" name="title" /></div>
    <div><label>Subtitle: <input type="text" name="subtitle" /></div>
    <div><textarea name="content" rows="8" cols="80"></textarea></div>
    <div><button>Sneed</button></div>
</form>
{% endblock %}
