{% extends "container/public.html" %}

{% block content %}
<h2>Users</h2>
<div>
    <table class="users-table">
        <tr>
            <th></th>
            <th>ID</th>
            <th>Username</th>
            <th>Account Created</th>
            <th>Password Cipher</th>
        </tr>

    {% for user in users %}
        <tr>
            <td>{% if let Some(avatar_html) = crate::user::get_avatar_html_for_user(user, crate::attachment::AttachmentSize::S) %}{{ avatar_html|safe }}{% endif %}</td>
            <td>{{ user.id }}</td>
            <td>{{ user.get_url_token()|safe }}</td>
            <td>{{ user.created_at.format("%v %r") }}</td>
            <td>{{ "{:?}"|format(user.password_cipher) }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
