{% extends "container/public.html" %}

{% block content %}
<h1>Post Revision History</h1>
<form method="post" action="/posts/{{ post.id }}/history">
    <table>
        <thead>
            <tr>
                <th>Old</th>
                <th>New</th>
                <th>Date</th>
                <th>Member</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for revision in revisions %}
            <tr>
                <td><input type="radio" name="old" value="{{ revision.0.id }}" /></td>
                <td><input type="radio" name="new" value="{{ revision.0.id }}" /></td>
                <td>{{ revision.0.created_at }}</td>
                <td>{% if let Some(user) = revision.1 %}{{ user.name }}{% endif %}</td>
                <td>View</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <caption><button>Compare versions</button></caption>
</form>
{% endblock %}