{% extends "container/main.html" %}

{% block css %}

{% endblock %}

{% block content %}
<div>
    {% for post in posts %}
        {% match post.content %}
            {% when Some with (content) %}
            <div>{{ content }}</div>
            {% when None %}
            <div><em>No content.</em></div>
        {% endmatch %}
    {% endfor %}
</div>

<form action="/threads/{{ thread.id }}/post-reply" method="post">
    <div><textarea name="content" rows="8" cols="80"></textarea></div>
    <div><button>Sneed</button></div>
</form>
{% endblock %}
